@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
/* Root css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}
/* Element style */
sup {
  font-size: 8px;
}
table {
  border-collapse: collapse;
  width: 100%;
  /* table-layout: fixed;  */
  width: 100%;
  margin-bottom: 10px;
}
th,
td {
  /* border: 1px solid #D6DADD; */
  padding: 5px 20px;
}
tr:nth-child(even) {
  background: #f6f7f9;
}
th {
  background-color: #54b6e7;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  text-align: left;
  text-transform: uppercase;
}
td {
  font-size: 12px;
  word-wrap: break-word;
}
p {
  font-size: 14px;
}
/* Main container css */
.container {
    max-width: 750px;
    margin: 0 auto;
    padding: 20px 15px;
}
/* Header css */
.header {
  padding-bottom: 30px;
}
/* Order details css */
.order-details {
  display: flex;
  /* justify-content: space-around; */
}
.order-details .purchase-control {
  width: 50%;
  padding-left: 50px;
}
.order-details .purchase-order {
  width: 50%;
  padding-left: 50px;
}


/* Supplier details css */
.supplier-details p {
    font-size: 12px;
}
.supplier-details table th {
  width: 50%;
  text-align: left;
  padding-left: 50px;
}
.supplier-details table td {
  background: #f6f7f9;
  padding-left: 50px;
  padding-right: 50px;
}
.total-amount {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.total-amount h4 {
  padding: 5px 10px;
  background-color: #54b6e7;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}
.total-amount .amount {
  background-color: #f6f7f9;
  color: black;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
}
